.img-responsive{
   display: block;
  max-width: 100%;
  height: auto;
}
.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.login{
	background-image: url('../img/login.png');
	background-repeat: no-repeat;
	background-position: bottom left;
	background-size: 100% 100%;
}



.text-danger {
  color: #a94442;
}
.text-center{
  text-align: center;
}